footer{
    padding:2% 20%;
    background-color: #235c2a;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#aeafaf;
    font-size:20px;
    font-weight:700;
}