header{
    background-color: #557A46;
    padding: 20px 20% 7%;
    position: relative;
}

.header-top-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    padding-bottom:10%;
    flex:wrap;

}

.header-logo{
    color:#F9FAF9;
    font-size: 24px;
    font-weight:900;
    flex:1;
    flex-grow: 1;
    flex-basis: 120px; 
    background: -webkit-linear-gradient(45deg, #71c516, rgb(143, 194, 84) 40%);
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-links{
    justify-content: space-between;
    align-items: center;
    flex:1;
    display: flex;
}

.header-links > a > img{
    width: 2em;
    height: 2em;
}

.header-links > a{
    color: rgb(143, 194, 84);
    font-size: 18px; 
    padding-left:1rem;
}

.header-bot-container{
    display: flex;
    flex-wrap: wrap;        
    justify-content: space-between;
    height:100%;
    color:#F9FAF9;
    gap:5%; 
    flex:wrap; 

}

.header-text > button{
    background-color:rgb(143, 194, 84);
    border-radius:10px;
    border:0;
    color:white;
    padding: 10px 50px;
    margin-bottom:20px;
    display:flex;
}

.header-text{
    flex-grow: 3;
    flex-basis: 300px;
}

.header-text-motto{
    font-size:48px;
    font-weight: bold;
    color:#F9FAF8;
}

.header-text-motto > span{
    font-weight: 700;
    color:rgb(143, 194, 84);
}

.header-text-motto2{
    padding:2% 0 4% 0;
    font-size:18px;

    color:#9da79f;
}
.header-img-motto2{
    display: flex;
    align-items: top;
    margin-right: 0.5em;
    flex-grow: 2;
    flex-basis: 500px;
}


.header-img-motto2 > img{ 
    width: 100%;
    filter: opacity(60%);
}

@media (max-width: 1500px) {
    .header-img-motto2 > img {
        max-width: 100%;
        width: 100%;

    }
    .header-text > button{
        margin-left:auto;
        margin-right:auto;
    }
}


.header-bottomleft-img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: scale(0.2);
  }
.header-bottomright-img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: right bottom;
    transform: scale(0.2);

}
